<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definitions go here -->
    <bean id="daoStub" class="org.example.service.FlooringAuditDaoStubImpl"/>

    <bean id="auditDaoStub" class="org.example.service.FlooringDaoStubImpl"/>

    <bean id="service" class="org.example.service.FlooringServiceLayerImpl">
        <constructor-arg ref="daoStub"/>
        <constructor-arg ref="auditDaoStub"/>
    </bean>

    <bean id="testDao" class="org.example.dao.FlooringDaoFileImpl">
        <constructor-arg value="TestOrders"/>
        <constructor-arg value="TestOrders_"/>
        <constructor-arg value="TestDataExport.txt"/>
        <constructor-arg value="TestProducts.txt"/>
        <constructor-arg value="TestTaxes.txt"/>
    </bean>
</beans>